<%= link_to "Tasks", tasks_path %>
<p><h1>Completed tasks at tasks:completed</h1></p>

<p>Name | created_at | project_id</p>
<% for task in @tasks %>

<p><%= task.name%>
<%= task.created_at.to_s(:due_time) %>
  | <%= task.project_id %> |
   <%= task.complete %>
  <%= link_to "Show", task_path(task) %>
  <%= link_to "Edit", edit_task_path(task) %>
  <%= button_to "Destroy", task, :method => :delete, :confirm => "Are you sure?" %>
  <%= link_to "Delete", task, :method => :delete, :confirm => "Are you sure?", :title => "Delete #{task.name}" %>



</p>
<% end %>
